<div class="small-container">
  <div class="row">
    <h2><span>1,00,00+</span> happy customers and counting...</h2>
  </div>
</div>
<div class="testimonial">
  <div class="small-container" style="margin-top: -75px">
    <div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          The collection is amazing all-year round. I always find a good outfit
          for every particular theme. The prices are also proper for the quality
          and services that the site delivers.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="./assets/user1.jpg" alt="" />
        <h3>Nayanthara</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          My first order in Meghanatextiles was for a simple saree, after that I
          have been a regular customer and have bought outfits even from their
          luxury section. Their quality and pricing has always been value-based.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <img src="./assets/user5.jpg" alt="" />
        <h3>Ranjana</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          The process of video shopping was way better than what I had expected.
          Really the team rocks with great service and the collection as always
          is the best.
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
        <img src="./assets/user2.jpg" alt="" />
        <h3>Ramya</h3>
      </div>
    </div>
  </div>
</div>
<!-- brands -->
<div class="brands">
  <h2 class="title">Our Customers</h2>
  <div class="small-container">
    <div class="row">
      <div class="col-5">
        <img src="./assets/brands1.png" />
      </div>
      <div class="col-5">
        <img src="./assets/brand2.jpg" />
      </div>
      <div class="col-5">
        <img src="./assets/brand3.png" />
      </div>
      <div class="col-5">
        <img src="./assets/brand4.png" />
      </div>
      <div class="col-5">
        <img src="./assets/brand5.png" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
