<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h1>
          Sarees for Every Occasion<br />Celebrate Life in Splendid Threads
        </h1>
        <p>
          Meghana Textiles invites you to explore a diverse collection of sarees
          that cater to all your special moments, <br />
          ensuring you look and feel splendid for every occasion.
        </p>
        <a routerLink="exploreproduct" class="btn">Explore Now &#8594;</a>
      </div>
      <div class="col-2">
        <img src="./assets/bgImg0.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
<h2 class="title">Latest Products</h2>
<div class="row">
  <div class="col-4">
    <img src="./assets/product5.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product6.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product7.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product8.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
</div>
<div class="offer">
  <div class="small-container">
    <div class="row">
      <div class="col-2">
        <img src="./assets/product10.jpg" class="offer-img" />
      </div>
      <div class="col-2">
        <p>Exclusively Avaliable on Meghana Textiles</p>
        <h1>Soft Silk</h1>
        <small>Soft silk sarees are the epitome of elegance and comfort, gently
          draping you in luxurious silk that feels as smooth as a dream. Elevate
          your style with these timeless classics that exude grace and
          sophistication.</small>
        <br />
        <a routerLink="cart" class="btn">Buy Now &#8594;</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>