<div class="small-container">
  <div class="row">
    <h2>Hello. What can we help you with?</h2>
  </div>
</div>

<hr />
<br />
<div class="small-container">
  <div class="row">
    <div class="col-4">
      <img src="./assets/contact1.png" />
      <h4>Your Orders</h4>
      <p>
        Track packages <br />
        Edit or cancel orders
      </p>
    </div>
    <div class="col-4">
      <img src="./assets/contact2.png" />
      <h4>Returns and Refunds</h4>
      <p>Return or exchange items <br />Print return mailing labels</p>
    </div>
    <div class="col-4">
      <img src="./assets/contact3.png" />
      <h4>Manage Addresses</h4>
      <p>Update your addresses <br />Add address, landmark details</p>
    </div>
    <div class="col-4">
      <img src="./assets/contact4.png" />
      <h4>Payment Settings</h4>
      <p>
        Add or edit payment methods <br />Change expired debit or credit card
      </p>
    </div>
    <div class="col-4">
      <img src="./assets/contact5.png" />
      <h4>Account Settings</h4>
      <p>Change your email or password <br />Update login information</p>
    </div>
    <div class="col-4">
      <img src="./assets/contact6.png" />
      <h4>Digital Services and <br />Device Support</h4>
      <p>Find device help and support <br />Troubleshoot device issues</p>
    </div>
  </div>
</div>
<br />
<app-footer></app-footer>