.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: white;
}
h4
{
    color: rgb(13, 85, 218);
}
a{
    text-decoration: underline;
}

.page{
    background: radial-gradient(#fff,#ffd6d6);

}