<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img src="./assets/product9.jpg" width="100%" id="productImg" />

      <div class="small-img-row">
        <div class="small-img-col">
          <img
            src="./assets/product9.jpg"
            width="100%"
            class="small-img"
            (click)="onClick()"
          />
        </div>
        <div class="small-img-col">
          <img src="./assets/product9.jpg" width="100%" class="small-img" />
        </div>
        <div class="small-img-col">
          <img src="./assets/product9.jpg" width="100%" class="small-img" />
        </div>
        <div class="small-img-col">
          <img src="./assets/product9.jpg" width="100%" class="small-img" />
        </div>
      </div>
    </div>
    <div class="col-2">
      <p>Home / Saree</p>
      <h1>Silk Saree</h1>
      <h4>Rs 15,000</h4>
      <select>
        <option>Select Size</option>
        <option>XXL</option>
        <option>XL</option>
        <option>L</option>
        <option>M</option>
      </select>
      <input type="number" value="1" />
      <a href="" class="btn">Add to Cart</a>
      <h3>Product Details <i class="fa fa-indent"></i></h3>
      <br />
      <p>
        Care Instructions: Hand Wash Only <br />
        Fit Type: Regular <br />
        Saree Fabric : Art silk || Blouse Fabric : Art silk <br />
        Saree Length : 5.25 mtr & Blouse length : 0.75 mtr <br />
        Work Type : Printed Work , Finish Type : Soft/comfort to wear , Silk
        Sarees new Collection <br />
        Occasion: Traditional Sarees , Sarees For Party Wear, Silk Sarees New
        Collection <br />
        Wash Care: Hand Wash Only. | Visit our Store for women latest design in
        Silk sari,Art silk , khadi silk saree, Georgette saries,cotton silk
        saris, chanderi saarees, banarasi saari,Kanjeevaram sarees, Crepe
        Sarees.
      </p>
    </div>
  </div>
</div>

<div class="small-container">
  <div class="row row-2">
    <h2>Related Products</h2>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <img src="./assets/product5.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product6.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product7.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
  <div class="col-4">
    <img src="./assets/product8.jpg" />
    <h4>Kanjivaram Sarees</h4>
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div>
    <p>Rs.14,000.00</p>
  </div>
</div>
<app-footer></app-footer>
