<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Download App for Android and ios mobile phone.</p>
        <div class="app-logo">
          <img src="./assets/play-store.png" />
          <img src="./assets/app-store.png" />
        </div>
      </div>
      <div class="footer-col-2">
        <img src="" />
        <p>
          Our purpose is to preserve cultural heritage, empower artisans, and
          celebrate the artistry of handcrafted textiles while providing
          customers with an exquisite and elegant fashion experience.
        </p>
      </div>
      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instgram</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">Copyright 2023 - Meghana Textiles</p>
  </div>
</div>
